p{
  color:#e73624;
}

  #text-align{
    text-align:center;
  }

  .text-decoration{
    text-decoration:none;
  }

  .font{
    font-family:"궁서체",serif;
    font-size:20px;
    font-weight: bold;
  }

   .link-status:link,
  .link-status:visited{
    color:#000;
    text-decoration:none;
  }

   .link-status:hover{
     color:#f00;
     text-decoration:underline;
     font-size:30px;
   }

   table{
     border-collapse:collapse;
     width: 300px;
   }

   table,th,td{
     border: 1px solid #000;
   }

   th,td{
     height:50px;
   }

   /* box model block 요소와 inline 요소 비교 */

    .box-model-block{
      width: 300px;
      height: 100px;
      padding:50px;
      border:5px solid red;
      margin:100px;
    }

     .box-model-inline{
       width: 300px;
       height: 100px;
       padding:50px;
       border:5px solid blue;
       margin:100px;
     }

/* display property */

.display-inline{
  display:inline;

  width:300px;
  height:100px;
  padding:50px;
  border:5px solid blue;
}

.display-block{
    display:block;

    width:300px;
    height:100px;
    padding:50px;
    border:5px solid red;
}

.display-inline-block{
  display:inline-block;

  width:100px;
  height:100px;
  padding:50px;
  border:5px solid green;
}

/* 가변 가로 길이 */

.wrap{
    width:100%;
    min-width:400px;
    max-width:800px;

    bac<table summary="">
    <caption></caption>
    <colgroup>
    <col />
    </colgroup>
    <thead>
    <tr>
    <th>과목</th>
    <th>성적</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <td>총점</td>
    <td>270</td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
    <td>국어</td>
    <td>90</td>
    </tr>
    <tr>
    <td>영어</td>
    <td>90</td>
    </tr>
    <tr>
    <td>수학</td>
    <td>90</td>
    </tr>
    </tbody>
    </table>kground-color: red;
}



/* float property */

.float-wrap{
  width:800px;
  height:500px;
  border:1px solid red;
}

.float-left{
  float:left;
  width:200px;
  height:200px;
  background-color:green;
}

.float-right{
  float:left;
  width:200px;
  height:200px;
  background-color:skyblue;
}

.bg-color-gray{
  width:400px;
  height:200px;
  background-color:gray;
  clear:both;
}

/* position property */

.relative-wrap{
  width:300px;
  height:200px;
  border:1px solid darkolivegreen;
  margin-bottom:100px;
}

.position-relative{
  position:relative;
  top:20px;
  left:30px;

  background-color: salmon;
}

.outer{
  position:relative;
  width:500px;
  height:500px;

  background-color:lightblue;
}

.absolute-wrap{
  position:absolute;
  right:30px;
  bottom:50px;
  width:300px;
  height:200px;
  border:1px solid brown;
  margin-bottom:100px;
}

.position-absolute{
  position:absolute;
  top:20px;
  left:30px;

  background-color:yellow;
}

.position-fixed {
  position: fixed;
  bottom: 10px;
  right: 30px;

  width:100px;
  height:100px;

  background-color:purple;

}

.overlap-parent{
  position:relative;
  width:300px;
  height:200px;
  border:1px solid darkcyan;
}

.overlap-a{
  position:absolute;
  top:10px;
  left:10px;
  width:100px;
  height:100px;
  background-color:pink;
}

.overlap-b{
  position:absolute;
  top:50px;
  left:50px;
  width:100px;
  height:100px;
  background-color:orange;
}

***** border property 정리 *****

   1. 4방향 모두 공통 적용

       border: 굵기 종류 색;

   2. 각각의 방향에 공통적용

    border-top:굵기 종류 색;
    border-right:굵기 종류 색;
    border-bottom:굵기 종류 색;
    border-left:굵기 종류 색;

   3. 각각의 방향, 각각의 css 속정 적용

    border-top-style
    border-top-with
    border-top-color
    border-right-style
    border-right-with
    border-right-color
    ...

    **** CSS 단위 ****

    px : 숫자 고정값

    em : body에 적용된 기본 폰트 크기의 배수

    % : parent tag 영역의 비율로 크기 결정

      ex)
        - @html

          <div>
            <p>단락</p>
          <div/>

        -@css

          p{width:50%}

        => p 태그의 영역 가로 길이는 div 태그 영역의 50%(절반)의 크기